.play-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
}

.play-root-container.locked { pointer-events: none; }

.game-over {
  position: fixed;
  inset: 0;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 1em;

  background: rgba(0, 0, 0, 0.87);
  border: none;
  border-radius: 0;
  color: white;
  z-index: 9999;
}

.game-over h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.game-over-button {
  margin: 2em;
}

.game-over h1.red {color: rgb(255, 61, 61);}
.game-over h1.blue {color: rgb(112, 179, 255);}

.top-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;  
  align-items: center;
}

.top-bar-left {
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

.top-bar-right {
  display: flex;
  justify-content: left;
  padding-left: 40px;
}

.game-layout-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.game-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box; 
}

.team-column {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 8px;
  border-radius: 2em;
  position: relative;
  align-self: flex-start;
  margin-top: calc((100vh - 80px) * 0.05);
}

.team-column-title {
  min-width: 200px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  font-weight: 700;
  font-size: 2em;

}
.team-column-title.red {color: #f85959;}
.team-column-title.blue {color: #24a8ee;}


.team-column.red {
  border: 10px solid #f85959; 
  background-color: #ffffff;
}

.team-column.blue {
  border: 10px solid #51b9f1; 
  background-color: #ffffff;
}

.team-card {
  max-width: 200px;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px 8px;
  box-sizing: border-box;

  border-radius: 12px;
}

.team-card.red { background-color: #f88787; }

.team-card.blue   { background-color: #c1eaff; }

.team-card.red.current-player {
  border: 7px solid #32e255;
}

.team-card.blue.current-player {
  border: 7px solid #32e255;
}

.team-role-text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.85;

  text-align: center;
  margin-bottom: 12px;

}

.team-role-text.red {color: rgb(126, 2, 2);}
.team-role-text.blue {color: rgb(21, 21, 132);}

.name-text {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 700;

  text-align: center;
}

.board-area {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.board-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-width: 0;
  max-width: calc(100% - 300px);  
}

.board-area.locked { pointer-events: none;}

.play-game-started {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hint-bar {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 15px;
  box-sizing: border-box;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;     
  padding: 15px;
}

.game-info h1 {
  margin: 0;
  font-size: 1.8em;
  
}

.turn {
  transition: color 0.2s ease-in-out;
}

.turn.red {
  color: rgb(254, 83, 83);
}

.turn.blue {
  color: rgb(59, 59, 255);
}

.input-field {
  font-family: inherit;
  font-size: inherit;
  background-color: #d1d0d0;
  border: none;
  color: #646464;
  padding: 1rem;
  border-radius: 30px;
  transition: all ease-in-out .2s;
}

.input-field:hover,
.input-field:focus {
  box-shadow: 0 0 1em #00000013;
}

.input-field:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input {
  width: 100%;
  box-sizing: border-box;
}

.num__input {
  width: 2.2em;
  flex-shrink: 0;
  text-align: center;
}

.hint {
  background-color: rgb(95, 95, 95);
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;          
  min-width: 0;         
  padding: 7px;
  border-radius: 5em;
  border: 3px solid #6ac4df;
  box-sizing: border-box;
}

.hint.locked { 
  pointer-events: none; 
  opacity: 0.5;
}

.hint-search {
  flex: 1;
}

.send-hint-button button {
  font-family: inherit;
  font-size: inherit;

  background-color: #c1dfc8;
  color: #414740;

  border: 5px solid rgb(97, 195, 97);
  border-radius: 30px;

  padding: 0.7rem 1.2rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.send-hint-button button:hover {
  background-color: #b0debb;
  border: 5px solid rgb(94, 179, 94);
}

.send-hint-button button:focus {
  outline: none;
  box-shadow: 0 0 1em #00000013;
  background-color: #99dba8;
}

.send-hint-button button:active {
  transform: scale(0.97);
}

.loading-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-container.hint {
  background: rgba(0, 0, 0, 0.811);
  border: none;
  border-radius: 0;
}

.loading-container.guess {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
}

.display {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding-top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.811);
}

.display-img {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh; 
}

.display-img img {
  max-width: 500px;
  height: auto;
}

.display-card {
  position: fixed;
  top: 60vh; 
  width: 450px;
  height: 150px;        
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4em;
  padding: 20px;
  box-sizing: border-box;
}

.display-turn-card {
  position: fixed; 
  width: 450px;
  height: 250px;        
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  gap: 10px;
  box-sizing: border-box;
}

.display-card.red {background-color: #ff4646;}
.display-card.blue {background-color: #96cef9;}

.display-turn-card.red {background-color: #ff4646;}
.display-turn-card.blue {background-color: #96cef9;}


.display-text-head {
  font-size: 3em;
  margin-bottom: 20px;
}
.display-text {
  font-size: 2.5em;
  margin: 10px;
}

.display-text-s {
  font-size: 1.5em;
  margin: 10px;
}

.display-number {font-size: 2em;}

.end-turn-locked {
  opacity: 0.5;
  pointer-events: none;
}

.demo-button {
  color: #1f1f1f;
  border: none;
  border-radius: 30px;
  
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.demo-button:active {
  transform: scale(0.97);
}

.demo-button.red {background-color: #fc8181;}
.demo-button.blue {background-color: #63b3ed;}

.demo-button.red:hover {background-color: #fd8c8c;}
.demo-button.blue:hover {background-color: #80caff;}